body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-socials, .f-info-links, .f-info-brand {
    width: 100%;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    margin-right: 1rem;
}

.f-info {
    height: 8rem;
    display: flex;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
}

/* Cards */

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
}

/* Card Effect */
.card-img-overlay {
    opacity: 0;
}

/* New Page */
.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* Edit Page */
.edit-btn {
    /* background-color: #fe424d !important; */
    border: none !important;
}

/* Show Page */
.show-img {
    height: 30vh;
}

.btns {
    display: flex !important;
}

.del-btn:hover {
    background-color: #ff0516 !important;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

/* Navbar Advance */
.search-btn {
    background-color: #fe424d;
    color: white;
    border-radius: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.search-input{
    border-radius: 1.5rem;
    padding: 0.5rem 3rem;
}

.search-btn:hover {
    background-color: red;
    color: white;
}
  
.search-btn i {
    display: inline;
    margin-right: 0.5rem;
}

/* Home Page Advance */
#filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
        
.filters {
    margin-top: 1rem;
    margin-right: 2rem;
    text-align: center;
    opacity: 0.7;
}

.filters:hover {
    opacity: 1;
    cursor: pointer;
}
        
.filters p {
    font-size: 0.8rem;
}
        
.tax-info {
    display: none;
}
        
.tax-toggle {
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.2rem;
    padding: 1rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
}

